monWsdl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/WebServicesPHP/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="monWsdl" targetNamespace="http://localhost/WebServicesPHP/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/WebServicesPHP/">
      <xsd:element name="getDigicode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getDigicodeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getDigicodeRequest">
  </wsdl:message>
  <wsdl:message name="getDigicodeResponse">
    <wsdl:part name="return" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="monWsdl">
    <wsdl:operation name="getDigicode">
      <wsdl:input message="tns:getDigicodeRequest"/>
      <wsdl:output message="tns:getDigicodeResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="monWsdlSOAP" type="tns:monWsdl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDigicode">
      <soap:operation soapAction="http://localhost/WebServicesPHP/getDigicode"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="monWsdl">
    <wsdl:port binding="tns:monWsdlSOAP" name="monWsdlSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
